<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= nameOfClient %> - Invitation - Le Consulat</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"> 
  <style>
    body{
      background-color: #0e1b31;
      color: white;
      text-align: center;
      font-family: 'Great Vibes', cursive;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <h1><%= nameOfClient %>, <br />
    Rejoins nous pour célébrer</h1>
    <br />
  <img src="/assets/save_the_date.jpg" style="width: 100%;">
</body>
</html>